/* SPINNER STYLE */

.spinner {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.spinner::before, 
.spinner:after {
    content: '';
    position: absolute;
    border-radius: inherit;
}
.spinner:before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg, #1469e6 0%,
        #fff 100% );
    animation: spin 0.5s infinite linear;
}
.spinner:after {
    width: 85%;
    height: 85%;
    background-color: #fff;
    top: 50%;
    left: 100%;
    transform: translate(-108%, -50%);
}

/* ANIMATIONS */

@keyframes softlyAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}

/* FADE TRANSITION */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}